#home{
  .step{
    margin-top: 20px;
    border-top: 1px solid lighten($lightgrey, 2%);
    padding: 20px 0 20px 0;
    h2{
      margin-bottom: 10px;
    }
  }
  #check_mail{
    input{
      margin-bottom: 10px;
    }
  }
  #grid{
    clear: both;
    div{
      background-color: $lightgrey;
      border: 1px solid grey;
      box-sizing: border-box;
      padding-top: 10px;
      padding-bottom: 10px;
      margin-top: 5px;
      margin-bottom: 5px;
      span{
        font-weight: bold;
        margin-right: 5px;
      }
    }
  }
}