header#header{
  background-color: $blue;
  padding: 10px 0 10px 0;
  position: fixed;
  width: 100%;
  z-index: 10;
  top: 0;
  h1{
    font-size: 18px;
  }
  small{
    color: white;
  }
  img{
    position: absolute;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
}

