@mixin button($background-color, $color, $font-size, $weight) {

  padding: 9px 17px;
  color: $color;
  background-color: $background-color;
  font-size: $font-size;
  border-bottom: 2px solid darken($background-color, 10%);
  font-weight: $weight;
  border-radius: 3px;
  transition: all 0.2s linear;
  cursor: pointer;
  display: inline-block;

  &:hover{
    background-color: darken($background-color, 4%);
  }

}