body{
  font-family: 'Open Sans', sans-serif;
  background-color: $lightgrey;
  color: $text;
  font-size: 15px;
}

.page{
  background-color: white;
  padding: 20px 0 20px 0;
  margin-top: 80px;
  margin-bottom: 40px;
}

.center{
  text-align: center;
}

.clear{
  clear: both;
}