/* ENV */
$_ENV : prod; // prod, dev

/* Size */
$container : 1000px;
$columns : 12;
$padding-columns : 15px;

/* RESPONSIVE */
$large: 800px 2200px;
$medium: 450px 800px;
$small: 0px 450px;

/* UTILS */
$responsiveClassImage : false;

